@media (max-width: 1160px) {
    .container {
        max-width: 768px;
        padding: 0px 27px;
    }
    
    .main-caption-l {
        font-size: 48px;
        line-height: 62px;
    }
    
    .main-caption-m {
        font-size: 36px;
        line-height: 47px;
    }
    
    .main-caption-s {
        font-size: 24px;
        line-height: 29px;
    }
}