@media (min-width: 1160px) {
    
    /* General */
    
    .general-more,
    .clear-file-input,
    .more_info {
        &:hover {
            color: #0007cc;
        }
    }
    
    .policy-link {
        &:hover {
            color: #5C5DF7;
        }
    }
    
    .add-person {
        &:hover {
            color: #0007cc;
            
            .decor {
                transform: rotate(90deg);
            }
        }
    }
    
    .main_input {
        &:hover {
            border-color: #3C4153;
        }
    }
    
    .general-drop__item {
        &:hover {
            background-color: rgba(120, 132, 172, 0.15);
        }
    }
    
    .main-button-shadow {
        &:hover {
            color: #0007cc;
            box-shadow: 0px 4px 8px rgba(60, 65, 83, 0.3);
        }
    }
    
    /* // General */
    
    /* Header */
    
    .header__item {
        transition: color .4s;
        
        &:hover {
            color: #5C5DF7;
        }
    }
    
    .burger-menu__item {
        transition: background-color .4s;
        
        &:hover {
            background-color: #7C85F4;
        }
    }
    
    .drop-item {
        &:hover {
            span {
                &::before {
                    color: #5C5DF7;
                }
            }
        }
    }
    
    /* /Header */
    
    /* Filter */
    
    .filter__item {
        &:hover {
            background-color: #DDDDFE;
            color: #0009F7;
            
            .filter-icon {
                &::before {
                    color: #0009F7;
                }
            }
        }
        
        .filter-icon {
            &::before {
                transition: color .4s;
            }
        }
    }
    
     /* /Filter */
     
     /* Noty */
     .notyfication__item {
         &:hover {
             .notyfication__info {
                 color: #5C5DF7;
             }
         }
     }
     
     .checkbox__wrapper {
         &:hover {
             color: #0009F7;
             
             .custome-check {
                 border-color: #5C5DF7;
             }
         }
     }
     /* /Noty */
     
     /* Buttons */
     
     .buttons__wrapper {
         .slider-button {
             transition: border-color .4s;
             
             span {
                 &::before {
                     transition: color .4s;
                 }
             }
             
             &:hover {
                 border-color: #0009F7;
                 
                 span {
                     &:before {
                         color: #0009F7;
                     }
                 }
             }
         }
     }
     
     /* /Buttons */
     
     /* Breadcrumbs */
     
     .breadcrumbs__item {
         transition: color .4s;
         
         &:hover {
             color: #0009F7;
         }
     }
     
     /* //Breadcrumbs */
     
     /* Calendar */
     
     .calendar__slider__button {
         &:hover {
            color: #0009F7;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.17);
         }
     }
     
     .calendar__button {
         &:hover {
             color: #5C5DF7;
         }
     }
     
     .calendar__table__data {
         &:hover {
             &::before {
                 opacity: 1;
             }
         }
     }
     
     /* // Calendar */
     
     /* Footer */
     
     .footer-contact__item {
         a {
             transition: color .4s;
             
             &:hover {
                 color: #0009F7;
             }
         }
     }
     
     .footer-social__item {
         a {
             transition: background-color .4s;
             
             span {
                 &::before {
                     transition: color .4s;
                 }
             }
             
             &:hover {
                 background-color: #5C5DF7;
                 
                 span {
                     &::before {
                         color: #fff;
                     }
                 }
             }
         }
     }
     
     .footer-copyright__wrapper {
         a {
             transition: color .4s;
             
             &:hover {
                 color: #0009F7;
             }
         }
     }
     
     /* /Footer */
     
     /* Popup */
     
     .close__popup {
         &:hover {
             color: #000000;
             transform: rotate(90deg);
         }
     }
     
     .add-photo-input__decor {
         &:hover {
             color: #0009F7; 
         }
     }

    
    .stars__list {
        &:hover {
            .icon-star {
                &::before {
                    content: "\e913";
                }
            }
        }
    }
    
    .stars__item {
        &:hover {
            ~ .stars__item {
                .icon-star {
                    &::before {
                        content: "\e914" !important;
                    }
                }
            }
        }
    }
    
    .popup-teacher__course-item {
        a {
            &:hover {
                color: #5C5DF7;
            }
        }
    }
    
    .add-reviews-button {
        &:hover {
            color: #5C5DF7;
        }
    }
    
    .popup-teacher__reviews__item {
        .more_info {
            &:hover {
                color: #0009F7;
            }
        }
    }
    
    /* //Popup */
    
    /* Contact */
    
    a.contacts__item__descrip {
        &:hover {
            color: #0009F7;
        }
    }
    
    /* //Contact */
}