/* Main Section */

.main-section__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 685px;
    margin-bottom: 95px;
}

.main-section__info {
    padding-top: 185px;
    width: 660px;
    position: relative;
    z-index: 1;
    
    p {
        margin: 20px 0px 40px;
    }
}

.main-section__decor {
    position: absolute;
    top: 60px;
    right: -80px;
    width: 540px;
    height: 515px;
    z-index: 1;
    
    .pattern {
        position: absolute;
        left: -30px;
        top: 85px;
        width: 680px;
        height: 550px;
        background: url(../img/pattern.png) repeat center;
        z-index: 0;
    }
    
    .decor-img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: url(../img/main-img-1.svg) no-repeat center;
        background-size: contain;
        z-index: 1;
    }
}

/* /Main Section */

/* Main info */

.main-info {
    position: relative;
    z-index: 2;
}
.main-info__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
}

.main-info__item {
    text-align: center;
    width: calc(33.33% - 15px);
    
    h4 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    
    .icon-img {
        margin: 0px auto 16px;
        width: 65px;
        height: 65px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

/* /Main info */


/* Annoncements */

.announcements {
    background-color: #F0F0FA;
    padding: 75px 0px;
}

.announcements__wrapper {
    position: relative;
    z-index: 1;
    
    &::before {
        content: "";
        position: absolute;
        left: -200px;
        top: 260px;
        position: absolute;
        width: 384px;
        height: 915px;
        background: url(../img/pattern-2.png) repeat center;
        z-index: 0;
    }
}

.workshops__list {
    display: flex;
    flex-wrap: wrap;
    margin: 32px -30px 0px 0px;
}

.workshops__item {
    width: 350px;
    min-height: 373px;
    margin-right: 30px;
    border-radius: 30px;
    position: relative;
    margin-bottom: 32px;
    z-index: 1;
    transition: z-index 0s .2s;
    
    a {
        text-decoration: none;
    }
    
    > .wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 40px 40px 15px;
        width: 100%;
        min-height: 100%;
        background-color: #fff;
        transition: background-color .6s, color .6s;
        border-radius: 30px;
        z-index: 1;
    }
    
    &:hover {
        z-index: 2;
        transition: z-index 0s 0s;
        
        .workshops-content {
            max-height: 350px;
            transition: max-height 1.5s;
        }
        
        > .wrapper {
            color: #fff;
            background-color: #7C85F4;
            z-index: 2;
            transition: background-color .6s, color .6s;
        }
        
        &.benefit-check {
            .price__wrapper {
                background-color: #5C5DF7;
                left: -30px;
                padding: 16px 30px;
                
                .benefit{
                    color: #fff;
                }
                
                .price_old {
                    color: #F0F0FA;
                }
                
                .price {
                    color: #fff;
                }
            }
            
            .workshops-name {
                margin-bottom: 22px;
            }
        }
        
        .workshops__date {
            span {
                &::before {
                    color: #fff;
                }
            }
        }
    }
    
    &.benefit-check {
        .price__wrapper {
            display: flex;
            justify-content: space-between;
            position: relative;
            left: 0px;
            padding: 16px 0px;
            border-radius: 30px;
            box-sizing: content-box;
            transition: padding .6s, left .6s, background-color .4s;
        }
    }
}

.workshops__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h3 {
        font-size: 36px;
        line-height: 53px;
    }
    
    span {
        &::before {
            transition: color .6s;
        }
    }
}

.workshops-city {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    
    .icon {
        width: 18px;
        height: 12px;
        background: url(../img/city-icon-1.svg) no-repeat center;
        background-size: contain;
        margin-left: 8px;
    }
}

.workshops-content {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    max-height: 95px;
    overflow: hidden;
    transition: max-height 0.6s;
}

.workshops-name {
    font-size: 14px;
    line-height: 21px;
    margin-top: 19px;
    width: 100%;
    min-height: 42px;
    margin-bottom: 0px;
    transition: margin .6s;
}

.price__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    width: 100%;
    padding: 15px 0px;
    
    span {
        font-size: 14px;
    }
    
    .benefit {
        color: #6D707E;
        font-size: 14px;
        font-weight: 700;
    }
    
    .price {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
    }
    
    .price_old {
        font-size: 14px;
        text-decoration: line-through;
        color: #6D707E;
        margin-right: 8px;
        
        + .price {
            color: #3B46F4;
        }
    }
    
    .wrapper {
        display: flex;
        align-items: center;
    }
}

/* /Annoncements */

/* Corporate Training */

.corporate-training {
    padding-top: 75px;
}

.corporate-training__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
    margin-top: 40px;
}

.corporate-training__decor {
    position: relative;
    height: 340px;
    z-index: 1;
    
    .decor {
        width: 690px;
        height: 340px;
        background: url(../img/corporate-main-img.svg) no-repeat center;
        background-size: contain;
        position: relative;
        margin-left: -150px;
        z-index: 2;
    }
    
    .pattern {
        position: absolute;
        left: -200px;
        bottom: -80px;
        width: 380px;
        height: 304px;
        background: url(../img/pattern.png) repeat center;
        z-index: 1;
    }
}

.corporate-training__item {
    margin-bottom: 32px;
    
    h4 {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 8px;
    }
}

/* /Corporate Training */

/* Corporate calc */

.corporate-calc__wrapper {
    margin-bottom: 150px;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        right: -50px;
        bottom: -50px;
        width: 150px;
        height: 150px;
        background: url(../img/leaf-img-1.svg) no-repeat center;
        background-size: contain;
    }
    
    > .wrapper {
        padding: 40px 56px;
        background-color: #F0F0FA;
        border-radius: 30px;
    }
}

.corporate-calc__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 32px;
    
    .name {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 7px;
    }
}

.corporate-calc__input {
    width: calc(25% - 22px);
}

.corporate-calc__list {
    display: flex;
    justify-content: space-between;
    width: calc(75% - 22px);
}

.corporate-calc__footer {
    display: flex;
    justify-content: space-between;
    
    .info {
        width: calc(50% - 35px);
    }
    
    .wrapper {
        width: calc(50% - 35px);
    }
}

.corporate-calc__final-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    
    .price {
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
    }
}

/* /Corporate calc */

/* Corporate topics */

.corporate-topics__wrapper {
    position: relative;
    margin-bottom: 150px;
    
    &::before {
        content: "";
        position: absolute;
        left: -165px;
        top: 230px;
        width: 380px;
        height: 1005px;
        background: url(../img/pattern.png) repeat center;
    }
}

.corporate-topics__sub {
    margin-top: 10px;
}

.corporate-topics__list {
    margin: 32px 0px;
}

.corporate-topic__item {
    height: 170px;
    background-color: #F0F0FA;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: color .4s, background-color .6s;
    
    
    &:hover {
        color: #fff;
        background-color: #7C85F4;
        
        .topic__main-info {
            .topic_arrow {
                &::before {
                    color: #fff;
                }
            }
        }
    }
    
    a {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        padding: 30px 40px;
        text-decoration: none;
    }
    
    .info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 16px;
    }
    
    .topic-footer {
        position: absolute;
        right: 40px;
        bottom: 30px;
        
        .topic-time {
            display: none;
        }
    }
}

.topic__main-info {
    font-size: 24px;
    line-height: 130%;
    position: relative;
    padding-right: 100px;
    
    .topic_arrow {
        position: absolute;
        right: 0px;
        top: 5px;
        font-size: 20px;
        
        &::before {
            transition: color .4s;
        }
    }
}

/* /Corporate topics */

/* Trust us */

.trust-us__wrapper {
    margin-bottom: 150px;
}

.trust-us__sub-info {
    text-align: center;
    margin-top: 24px;
    padding: 0px 270px;
}

.trust-us__company__list {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trust-us__company__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(16.66% - 25px);
    height: 95px;
    border-radius: 20px;
    
    .img {
        width: 100%;
        height: 100%;
        padding: 0px 20px;
        background-color: #fff;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 20px;
        overflow: hidden;
    }
}

.trust-us__list {
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
}

.trust-us__item {
    width: calc(33.33% - 15px);
    text-align: center;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        right: -15px;
        height: 100%;
        width: 2px;
        background-color: #F0F0FA;
        border-radius: 5px;
    }
    
    .number {
        font-size: 72px;
        line-height: 72px;
        font-weight: 800;
        margin-bottom: 16px;
    }
    
    .type {
        font-size: 18px;
        line-height: 20px;
    }
}

/* /Trust us */

/* Reviews */

.reviews {
    background-color: #F0F0FA;
    padding: 75px 0px;
}

.reviews__wrapper {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: -170px;
        top: -110px;
        width: 385px;
        height: 340px;
        background: url(../img/pattern-2.png) repeat center;
    }
}
.reviews__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 235px;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 235px;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 40px;
    position: absolute;
    transform: translateX(-570px);
    opacity: 0;
    transition: transform .6s, opacity .6s;
    
    .content {
        max-height: 72px;
        overflow: hidden;
        position: relative;
    }

    &.show {
        transform: translateX(0px);
        opacity: 1;

        + .reviews__item {
            transform: translateX(570px);
            opacity: 1;

            + .reviews__item{
                transform: translateX(1140px);
                opacity: 0;
            }
        }
    }
}

.reviews__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

.reviews__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    position: relative;
}

.more_info {
    display: none;
    position: absolute;
    left: 0px;
    top: 5px;
    color: #0009F7;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    
    &.show {
        display: block;
    }
}

.reviews__name {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 8px;
}

.reviews__sub {
    font-size: 12px;
    line-height: 18px;
}

.buttons__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    .slider-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #7C85F4;

        &.next {
            order: 1;
        }
    }

    .main_button {
        margin: 0px 32px;
    }
}

/* /Reviews */

/* Notyfication block */

.notyfication {
    padding-top: 75px;
}

.notyfication__wrapper {
    margin-bottom: 150px;
    position: relative;
    z-index: 1;
    
    &::before {
        content: "";
        position: absolute;
        left: -165px;
        top: 75px;
        width: 383px;
        height: 560px;
        background: url(../img/pattern.png) repeat center;
        z-index: -1;
    }
    
    &::after {
        content: "";
        position: absolute;
        right: -165px;
        top: 570px;
        width: 375px;
        height: 1200px;
        background: url(../img/pattern.png) repeat center;
        z-index: -1;
    }
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }
}

.notyfication__list {
    width: calc(50% - 15px);
}

.notyfication__item {
    display: flex;
    padding: 15px 20px 20px;
    border-radius: 30px;
    transition: background-color .4s;
    margin-bottom: 25px;
    position: relative;
    
    .noty-radio {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
        opacity: 0;
    }
    
    &.active {
        background-color: #F0F0FA;
        
        .notyfication__info {
            h5 {
                color: #5C5DF7;
            }
        }
    }
    
    label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .noty-radio {
        &:checked {
            + .custome-radio {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    
    .custome-radio {
        width: 20px;
        height: 20px;
        border: 2px solid #5C5DF7;
        position: relative;
        border-radius: 50%;
        flex-shrink: 0;
        
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 12px;
            height: 12px;
            transform: translate(-50%, -50%);
            background-color: #5C5DF7;
            opacity: 0;
            border-radius: 50%;
            transition: opacity .4s;
        }
    }
}

.notyfication-sub {
    text-align: center;
    margin-top: 40px;
}

.notyfication__info {
    align-self: flex-start;
    
    h5 {
        font-size: 16px;
        transition: color .4s;
    }
}
.notyfication__img {
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 0px 15px;
}


.notyfication-subscription {
    width: calc(50% - 15px);
    padding: 55px 55px;
    background-color: #fff;
    border-radius: 30px;
    
    button {
        max-width: 100%;
        margin-top: 32px;
    }
}

.notyfication-subscription__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.notyfication-subscription__item {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    position: relative;
    
    input {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
        opacity: 0;
        
        &:checked {
            + .custome-check {
                border-color: #5C5DF7;
                background-color: #5C5DF7;
                
                span {
                    opacity: 1;
                }
                
                ~ .text {
                    color: #5C5DF7;
                    text-shadow: 1px 0 0 #5C5DF7;
                }
            }
        }
    }
    
    .text {
        transition: color .4s, text-shadow .2s;
    }
    
    &:last-child {
        margin-bottom: 0px;
    }
    
    .custome-check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        margin-right: 16px;
        border: 1px solid #3C4153;
        border-radius: 2px;
        flex-shrink: 0;
        transition: border-color .4s, background-color .4s;
        position: relative;
        
        span {
            content: "";
            font-size: 8px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: opacity .4s;
        }
    }
}

.noty-button__wrapper {
    
    button {
        max-width: 350px;
    }
}


/* Important-to-us*/

.important-to-us__wrapper {
    margin-bottom: 150px;
    position: relative;
    z-index: 1;
}

.important-to-us__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.important-to-us__item {
    width: calc(33.33% - 15px);
    background-color: #F0F0FA;
    border-radius: 30px;
    padding: 30px 30px 50px;
    text-align: center;
    position: relative;
    
    .type {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 16px;
        min-height: 48px;
    }
    
    .main_button {
        position: absolute;
        left: 35px;
        bottom: -25px;
        background-color: #fff;
        border: none;
        
        .decor {
            background-color: #C9C9FF;
        }
    }
}


/* /Important-to-us*/

/* Helpfulp */

.helpful-info {
    margin-bottom: 150px;
    position: relative;
    z-index: 1;
}

.helpful-info__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    margin-right: -30px;
}

.helpful-info__item {
    width: calc(25% - 30px);
    position: relative;
    margin-right: 30px;
    
    .img {
        width: 160px;
        height: 160px;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.helpful-info__link {
    display: block;
    width: 225px;
    height: 120px;
    background-color: #F0F0FA;
    border-radius: 30px;
    padding: 20px 50px 50px 20px;
    text-decoration: none;
    position: absolute;
    right: 0px;
    bottom: -50px;
    transition: background-color .4s, color .4s;
    
    &:hover {
        background-color: #7C85F4;
        color: #fff;
        
        span {
            &::before {
                color: #fff;
            }
        }
    }
    
    h5 {
        font-size: 18px;
        line-height: 23px;
    }
    
    span {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 13px;
        
        &::before {
            transition: color .4s;
        }
    }
}

/* /Helpfulp */

/* Our clients */

.our-clients {
    
    .trust-us__company__list {
        margin-top: 175px;
        position: relative;
        
        &::before {
            content: "";
            width: 760px;
            height: 465px;
            background:url(../img/pattern.png) repeat center;
            right: -160px;
            top: -240px;
            position: absolute;
            z-index: -1;
        }
    }
    
    .trust-us__company__item {
        flex-direction: column;
        text-align: center;
        margin-bottom: 33px;
        height: auto;
        
        
        .img {
            flex-shrink: 0;
            height: 93px;
        }
        
        .name-company {
            font-size: 14px;
            line-height: 21px;
            font-weight: 700;
            margin-top: 16px;
        }
    }
    
    .trust-us__item {
        &::before {
            display: none;
        }
    }
    
    .trust-us__list {
        margin-top: 100px;
    }
}

/* Manufacturing */

.manufacturing {
    margin-bottom: 150px;
}

.manufacturing__wrapper {
    position: relative;
    min-height: 365px;
}

.canvas__wrapper {
    width: 365px;
    height: 365px;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:0px;
    right: 0px;
    z-index: 1;
}

.manufacturing__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 580px;
}

.manufacturing-hover-elem {
    position: absolute;
    pointer-events: none;
    color: #5C5DF7;
    font-weight: 700;
    opacity: 0;
    
    p {
        &::after {
            content: "%";
            
        }
    }
}

.legent__item {
    width: 50%;
    margin-bottom: 16px;
    padding-left: 24px;
    position: relative;
    cursor: pointer;
    transition: color .4s, text-shadow .4s;
    
    &:nth-child(6n) {
        margin-bottom: 56px;
    }
    
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D9DBF5;
        transition: background-color .4s;
    }
    
    &:hover {
        color: #5C5DF7;
        text-shadow: 1px 0px 0px #5C5DF7;
        
        &::before {
            background-color: #5C5DF7;
        }
    }
}

/* /Manufacturing */

/* Map Ukraine */

.map-ukraine__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    
    .svg-map {
        height: 385px;
        width: 540px;
        position: relative;
    }
    
    .svg-content {
        path {
            cursor: pointer;
            transition: fill .4s;
            
            &.active {
                fill: #7C85F4;
            }
        }
    }
}

.hover-map {
    position: absolute;
    left: -1000px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0px 0px #ccc;
    cursor: pointer;
}

.region-caption {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.region__list {
    -ms-columns: 2;
    -webkit-columns: 2;
    columns: 2;
}

.region__item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    transition: color .2s, text-shadow .2s;
    cursor: pointer;
    
    &:hover {
        color: #5C5DF7;
        text-shadow: 1px 0px 0px #5C5DF7;
         
        .icon-drop-icon {
            opacity: 1;
        }
    }
    
    &.active {
        color: #5C5DF7;
        text-shadow: 1px 0px 0px #5C5DF7;
         
        .icon-drop-icon {
            opacity: 1;
        }
    }
    
    .icon-drop-icon {
        display: inline-block;
        font-size: 7px;
        transform: rotate(-90deg);
        padding-top: 8px;
        opacity: 0;
        transition: opacity .2s;
        text-shadow: none;
        
        &::before {
            color: #5C5DF7;
        }
    }
}

/* /Map Ukraine */

/* Clients Callback */

.clients-callback {
    margin-bottom: 80px;
}

.clients-callback__wrapper {
    .wrapper {
        max-width: 540px;
        text-align: center;
        margin: 0px auto;
    }
    
    h4 {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 16px;
    }
    
    .clints-callback__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .input_wrapper {
        margin: 32px 0px;
        text-align: left;
        width: 368px;
    }
    
    
}
