@media (max-width: 1210px) {
    /* Main Section */
    
    .main-section__wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        height: auto;
        margin-bottom: 70px;
    }
    
    .main-section__decor {
        width: 465px;
        height: 445px;
        position: relative;
        right: 0px;
        top: 0px;
        flex-shrink: 0;
        
        .pattern {
            display: none;
        }
    }
    
    .main-section__info {
        margin-top: 55px;
        padding-top: 0px;
        width: 100%;
        order: 2;
        text-align: center;
        
        p {
            margin: 23px 0px 32px;
        }
        
        .main_button-color {
            margin: 0px auto;
        }
    }
    /* /Main Section */
    
    /* Main info */
    
    .main-info__list {
        flex-wrap: wrap;
        margin-bottom: 80px;
    }
    
    .main-info__item {
        h4 {
            font-size: 18px;
            line-height: 23px;
        }
    }
    
    /* /Main info */
    
    /* Annoncements */
    
    .announcements {
        padding: 27px 0px 32px;
    }
    
    .announcements__wrapper {
        &::before {
            width: 190px;
            height: 1100px;
            left: -75px;
        }
    }
    
    .workshops__list {
        justify-content: space-between;
        margin-right: 0px;
    }
    .workshops__item {
        width: calc(50% - 15px);
        margin-right: 0px;
    }
    
    /* /Annoncements */
    
    
    /* Corporate Training */
    
    
    .corporate-training__wrapper {
        flex-direction: column;
        margin-bottom: 40px;
    }
    
    .corporate-training__decor {
        margin-bottom: 32px;
        
        .pattern {
            display: none;
        }
        
        .decor {
            width: 100%;
            height: 352px;
            margin-left: 0px;
        }
    }
    
    /* /Corporate Training */
    
    /* Corporate calc */
    
    .corporate-calc__wrapper {
        margin-bottom: 55px;
        
        &::before {
            display: none;
        }
        
        > .wrapper {
            padding: 24px 32px 75px;
        }
    }
    
    .corporate-topics__sub {
        margin-top: 16px;
        font-size: 14px;
    }
    
    .corporate-calc__body {
        flex-direction: column;
        margin-top: 16px;
        margin-bottom: 50px;
    }
    
    .corporate-calc__input {
        width: 100%;
        margin-bottom: 32px;
    }
    
    .corporate-calc__list{
        width: 100%;
    }
    
    .corporate-calc__footer {
        .info {
            width: calc(50% - 15px);
        }
        
        .wrapper {
            width: calc(50% - 15px);
        }
        
        .about-price {
            font-size: 14px;
            line-height: 21px;
        }
    }
    
    .corporate-calc__final-price {
        flex-direction: column;
        align-items: flex-start;
        
        .main_button-color {
            max-width: 100%;
            margin-top: 16px;
        }
    }
    
    /* /Corporate calc */
    
    /* Corporate topics */
    
    .corporate-topics__list {
        margin: 16px 0px 32px;
    }

    .corporate-topics__wrapper {
        margin-bottom: 80px;
        
        &::before {
            height: 975px;
            top: 280px;
            left: -70px;
            width: 180px;
        }
    }
    
    .topic__main-info {
        font-size: 20px;
        line-height: 26px;
    }
    
    .corporate-topic__item {
        height: 182px;
        margin-bottom: 27px;
        
        a {
            padding: 24px 32px 40px;
        }
        
        .info {
            font-size: 16px;
        }
        
        .topic-footer {
            right: 30px;
            bottom: 24px;
        }
    }
    
    .corporate-training__item {
        margin-bottom: 16px;
        
        h4 {
            font-size: 20px;
            line-height: 150%;
         }
    }
    
    /* /Corporate topics */
    
    /* Trust us */
    
    .trust-us__wrapper {
        margin-bottom: 80px;
    }
    
    .trust-us__sub-info {
        padding: 0px 70px;
    }
    
    .trust-us__company__list {
        margin-top: 50px;
    }
    
    .trust-us__company__item {
        height: 55px;
        
        .img {
            padding: 0px 11px;
        }
    }
    
    .trust-us__list {
        margin-top: 70px;
    }
    
    .trust-us__item {
        .number {
            font-size: 48px;
            line-height: 48px;
        }
    }
    
    /* /Trust us */
    
    /* Reviews */
    
    .reviews {
        padding: 32px 0px;
    }
    
    .reviews__list {
        height: 224px;
    }
    
    .reviews__wrapper {
        &::before {
            width: 193px;
            height: 304px;
            right: 0px;
            top: -40px;
        }
    }
    
    .reviews__item {
        width: calc(100% - 54px);
        height: 224px;
        transform: translateX(-850px);
        
        &.show {
            + .reviews__item {
                transform: translateX(850px);
                opacity: 0;
            }
        }
        
        .content {
            max-height: 48px;
        }
    }
    
    .more_info {
        top: -5px;
    }
    
    /* /Reviews */
    
    /* Notyfication block */
    
    .notyfication {
        margin-top: 80px;
    }
    
    .notyfication__wrapper {
        margin-bottom: 80px;
    }
    
    .notyfication-sub {
        margin-top: 24px;
    }
    
    .notyfication-subscription__footer {
        flex-direction: column;
        
        .main_button-color {
            max-width: 100%;
        }
        
        .input_wrapper {
            max-width: 100%;
            margin-right: 0px;
            margin-bottom: 25px;
        }
    }
    
    /* /Notyfication block */
    
    /* Important-to-us*/
    
     .important-to-us__wrapper {
        margin-bottom: 100px;
    }
    
    .important-to-us__list {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 32px;
    }
   
    .important-to-us__item {
        width: calc(50% - 15px);
        margin-bottom: 54px;
        padding: 30px 24px 50px;
        
        &:first-child {
            margin-right: 30px;
        }
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    /* /Important-to-us*/
    
    /* Helpfulp */ 
    
    .helpful-info {
        margin-bottom: 50px;
    }
    
    .helpful-info__item {
        width: calc(33.33% - 30px);
        margin-bottom: 80px;
    }
    
    .helpful-info__link {
        width: 214px;
        height: 118px;
        padding: 20px 30px 50px;
    }
    
    /* /Helpful */
    
    /* Calendar */
    
    .calendar__wrapper {
        flex-direction: column;
    }
    
    .calendar__info {
        margin-left: 24px;
        width: calc(100% - 48px);
        margin-top: 32px;
    }
    
    /* Calendar */
    
    /* Full events */
    
    .full-events__wrapper {
        margin: 80px 0px;
    }
    
    .events-caption-city {
        display: none;
    }
    
    .events-caption-city-time {
        display: block;
    }

    .events-city-time-tablet {
        display: flex;
        flex-direction: column;
        
        .time {
            display: block;
            margin-top: 4px;
        }
    }
    
    .events-position-time {
        display: none;
    }
    
    
    .events-position-month {
        width: calc(15% - 10px);
    }

    .events-position-date {
        width: calc(14% - 10px);
    }

    .events-position-theme {
        width: calc(40% - 10px);
    }

    .events-position-city {
        width: calc(16% - 10px);
        text-align: left;
    }

    .events-position-price {
        width: calc(15% - 10px);
        text-align: right;
    }
    
    /* //Full events */
    
    /* Faq */
    
    .faq {
        margin-bottom: 90px;
    }
    
    .faq__list {
        margin-top: 40px;
    }
    
    .faq__question {
        margin-bottom: 16px;
    }
    
    /* //Faq */
    
    /* Ask question */
    
    .ask-question {
        margin-bottom: 56px;
    }
    
    .ask-qustion__wrapper {
        .main_button-color {
            margin: 24px auto 0px;
        }
    }
    
    /* //Ask question */
    
    /* About us */
    
    .about-us__info {
        max-width: 100%;
    }
    
    .about-us__sub {
        margin: 24px 0px 32px;
    }
    
    .main-info__wrapper-about-us {
        .main-info__list {
            margin-top: 48px;
        }
    }
    
    .company-priorities__description {
        align-items: flex-start;
    }
    
    .company-priorities__preview {
        padding: 20px;
    }
    
    .company-priorities__preview__img {
        &:not(.company-priorities__preview__img-tablet) {
            display: none;
        }
    }
    
    .company-priorities__preview__img-tablet {
        display: block;
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }
    
    .company-priorities__preview__info {
        .wrapper {
            display: flex;
            align-items: flex-end;
        }
        
        .caption {
            margin-bottom: 32px;
        }
    }
    
    .company-priorities__preview__descrip {
        margin-top: 0px;
    }
    
    .our-progress {
        margin-top: 80px;
        padding: 40px 0px 52px;
    }
    
    .our-progress__list {
        flex-wrap: wrap;
        margin-top: 32px;
        margin-bottom: -40px;
    }
    
    .our-progress__item {
        width: calc(50% - 30px);
        margin-bottom: 40px;
    }
    
    .our-privilege {
        margin: 56px 0px;
    }
    
    .our-privilege__list {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: -54px;
    }
    
    .our-privilege__item {
        width: calc(50% - 30px);
        margin-bottom: 54px;
    }
    
    /* //About us */
    
    /* Contacts */
    
    .contacts__container {
        margin-top: 48px;
    }
    
    .contacts__info {
        flex-direction: column;
    }
    
    .contacts__img {
        height: 265px;
        margin-right: 30px;
    }
    
    .contacts__list {
        margin-bottom: 23px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    /* Contacts */
    
    /* Clients callback */
    
    .clients-callback {
        margin-top: 80px;
        margin-bottom: 56px;
    }
    
    .clients-callback__wrapper {
        .input_wrapper {
            margin: 24px 0px 32px;
        }
    }
    
    /* //Clients callback */
    
    /* Partnership */
    
    .partnership__list {
        margin-top: 50px;
    }
    
    .partnership__item {
        padding: 20px 20px 0px;
        
        .main_button-color {
            top: 20px;
        }
    }
    
    .partnership-offers__list {
        margin-top: 105px;
    }
    
    .partnership-offers__item {
        flex-direction: column;
    }
    
    .partnership-offers__item__img {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    
    .partnership-callback {
        margin-top: 80px;
        padding: 40px 0px;
    }
    
    .partnership-callback__form {
        padding: 30px;
        
        .main_button-color {
            margin-top: 24px;
        }
    }
    
    .partnership-callback__caption {
        margin-bottom: 20px;
        line-height: 120%;
    }
    
    /* //Partnership */
}


@media (max-width: 767px) {
    /* Main Section */
    
    .main-section__wrapper {
        margin-bottom: 56px;
    }
    
    .main-section__decor {
        width: 100%;
        height: 270px;
    }
    
    .main-section__info {
        p {
            margin: 16px 0px;
        }
    }
    
    /* /Main Section */
    
    /* Main info */
    
    .main-info__list {
        margin-bottom: 15px;
    }
    
    .main-info__item {
        width: 100%;
        margin-bottom: 40px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    /* /Main info */
    
    /* Annoncements */
    
    .announcements {
        padding: 16px 0px 24px;
    }
    
    .announcements__wrapper {
        &::before {
            display: none;
        }
    }
    
    .workshops__list {
        margin-top: 16px;
    }
    
    .workshops__item {
        width: 100%;
        min-height: 330px;
        margin-bottom: 16px;
        
        > .wrapper {
            padding: 20px 20px 10px;
        }
    }
    
    .workshops-content {
        font-size: 20px;
        line-height: 26px;
        max-height: 78px;
    }
    
    /* /Annoncements */
    
    /* Corporate Training */
    
    .corporate-training__decor {
        height: 157px;
        
        .decor {
            height: 157px;
        }
    }
    
    /* /Corporate Training */
    
    /* Corporate calc */
    
    .corporate-calc__wrapper {
        .main-caption-s {
            text-align: center;
        }
        
        > .wrapper {
            padding: 16px 20px 32px;
        }
    }
    
    .corporate-calc__list {
        flex-direction: column;
    }
    
    .corporate-calc__footer {
        flex-direction: column;
        
        .info {
            order: 2;
            width: 100%;
            margin-top: 32px;
        }
        
        .wrapper {
            width: 100%;
        }
    }
    
    /* Corporate calc */
    
    /* Corporate topics */
    
    
    .corporate-topics__wrapper {
        margin-bottom: 56px;
        
        &::before {
            display: none;
        }
    }
    
    .corporate-topics__sub {
        text-align: center;
    }
    
    .corporate-topics__list {
        position: relative;
        z-index: 1;
        margin: 16px 0px;
    }
    
    .corporate-topic__item {
        height: 292px;
        position: relative;
        margin-bottom: 16px;
        
        a {
            padding: 20px;
        }
        
        .info {
            font-size: 14px;
            line-height: 21px;
        }
        
        .topic-time {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        
         .topic-footer {
            right: 20px;
            bottom: 20px;
        }
    }
    
    
    .topic__main-info {
        font-size: 20px;
        line-height: 26px;
        padding-right: 30px;
    }
    
    
    
    /* /Corporate topics */
    
    /* Trust us */
    
    .trust-us__sub-info {
        padding: 0px;
        margin-top: 16px;
    }
    
    .trust-us__company__list {
        margin-top: 16px;
        flex-wrap: wrap;
    }
    
    .trust-us__company__item {
        width: calc(50% - 10px);
        height: 75px;
        margin-bottom: 20px;
    }
    
    .trust-us__list {
        margin-top: 36px;
        flex-direction: column;
    }
    
    .trust-us__item {
        width: 100%;
        margin-bottom: 50px;
        
        &::before {
            width: 100%;
            height: 2px;
            right: 0px;
            bottom: -25px;
        }
        
        &:last-child {
            margin-bottom: 0px;
            
            &::before {
                display: none;
            }
        }
    }
    
    .trust-us__wrapper {
        margin-bottom: 56px;
    }
    
    /* /Trust us */
    
    /* Reviews */
    
    .reviews__wrapper {
        &::before {
            display: none;
        }
    }
    
    .reviews__list {
        margin-top: 12px;
        height: 376px;
    }
    
    .reviews__item {
        padding: 20px;
        width: calc(100% - 40px);
        height: 376px;
        transform: translateX(-600px);
        
        .content {
            max-height: 168px;
        }
        
        &.show + .reviews__item {
            transform: translateX(600px);
        }
    }
    
    .reviews__item-wrapper {
        height: 150px;
        position: relative;
    }
    
    .reviews__name {
        margin-bottom: 55px;
    }
    
    .more_info {
        top: -10px;
    }
    
    .reviews__img {
        position: absolute;
        right: 0px;
        bottom: 40px;
    }
    
    .buttons__wrapper {
        position: relative;
        height: 115px;
        align-items: flex-start;
        margin-top: 16px;
        
        .main_button {
            position: absolute;
            left: 0px;
            bottom: 0px;
            margin: 0px;
        }
        
        .slider-button {
            &:nth-child(1) {
                margin-right: 20px;
            }
        }
    }
    
    /* /Reviews */
    
    /* Notification */
    
    .notyfication {
        margin-top: 50px;
    }
    
    .notyfication-sub {
        margin-top: 16px;
    }
    
    .notyfication__wrapper {
        margin-bottom: 56px;
    }
    
    .notyfication__form {
        margin-top: 24px;
        flex-direction: column;
    }
    
    .notyfication__list {
        width: 100%;
    }
    
    .notyfication-subscription {
        width: 100%;
    }
    
    .notyfication__item {
        position: relative;
        margin-top: 50px;
        margin-bottom: 0px;
        
        .custome-radio {
            position: absolute;
            left: 0px;
            right: 0px;
            top: -32px;
            margin: 0px auto;
        }
    }
    
    .notyfication__img {
        margin: 0px 15px 0px 0px;
    }
    
    .notyfication-subscription {
        margin-top: 32px;
        padding: 15px;
    }
    
    /* /Notification */
    
    /* Important-to-us*/
    
    .important-to-us__item {
        padding: 16px 20px 30px;
        width: 100%;
        min-height: 206px;
        margin-bottom: 60px;
        
        &:first-child {
            margin-right: 0px;
        }
        
        .main_button {
            left: 0px;
            bottom: -35px;
        }
    }
    
    /* /Important-to-us*/
    
    /* Helpfulp */
    
    .helpful-info {
        margin-bottom: 20px;
    }
    
    .helpful-info__item {
        width: 100%;
        
        .img {
            width: 68%;
            height: 180px;
        }
        
        .helpful-info__link {
            width: 82%;
        }
    }
    
    .helpful-info__link {
        height: 135px;
        padding: 24px 22px 50px;
    }
    
    /* //Helpful */
    
    /* Calendar */
    
    .calendar__info {
        width: 100%;
        margin-left: 0px;
        padding: 20px;
    }
    
    .calendar__info__details {
        flex-wrap: wrap;
    }
    
    .details__time {
        margin-right: 0px;
    }
    
    .details__price {
        width: 100%;
        text-align: right;
        margin-top: 8px;
        line-height: 24px;
    }
    
    .calendar__slider__list {
        height: 175px;
    }
    
    .calendar__slider__text {
        -webkit-line-clamp: 7;
        height: 175px;
    }
    
    .calendar-info__buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .calendar__slider__button {
        position: static;
        
        &:first-child {
            margin-right: 20px;
        }
    }
    
    .calendar__info__footer {
        flex-direction: column;
        margin-top: 20px;
        
        .main_button {
            margin-right: 0px;
            margin-top: 8px;
            order: 2;
        }
    }
    
    /* Full events */
    
    .full-events__wrapper {
        margin: 50px 0px 0px;
    }
    
    .full-events__header {
        flex-direction: column;
        align-items: flex-start;
        
        .main-button-shadow {
            margin-top: 16px;
        }
    }
    
    .full-events__body {
        &:not(.full-events__body-mobile) {
            display: none;
        }
    }
    
    .full-events__body-mobile {
        display: block;
        padding: 20px;
    }
    
    .full-events__item {
        &:first-child {
            padding-top: 0px;
        }
    }
    
    .full-events__item__header {
        padding-bottom: 8px;
        border-bottom: 1px solid #EDEDFD;
        margin-bottom: 30px;
    }
    
    .full-events__item__wrapper {
        flex-direction: column;
        
        .info-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
        }
        
        .theme {
            margin-top: 14px;
        }
    }
    
    /* //Full events */
    
    /* Ask question */
    
    .ask-question {
        margin-bottom: 56px;
    }
    
    .ask-qustion__wrapper {
        .main_button-color {
            margin: 24px auto 0px;
        }
    }
    
    /* //Ask question */
    
    /* About us */
    
    .about-us__sub {
        margin: 16px 0px 32px;
        font-size: 18px;
        line-height: 130%;
    }
    
    .main-info__wrapper-about-us {
        margin-top: 56px;
        
        .main-info__list {
            margin-top: 32px;
            margin-bottom: 56px;
        }
    }
    
    .company-priorities__description {
        flex-direction: column;
    }
    
    .company-priorities__list {
        width: 100%;
    }
    
    .company-priorities__preview {
        width: 100%;
        margin-top: 32px;
        padding: 16px 16px 20px;
    }
    
    .company-priorities__preview__img-tablet {
        width: 66px;
        height: 66px;
        margin-right: 15px;
    }
    
    .company-priorities__preview__info {
        .caption {
            margin-bottom: 26px;
        }
    }
    
    .our-progress {
        margin-top: 28px;
        padding: 28px 0px;
    }
    
    .our-privilege {
        margin-top: 28px;
    }
    
    .our-privilege__list {
        margin-bottom: -65px;
    }
    
    .our-privilege__item {
        width: 100%;
        margin-bottom: 65px;
        padding: 16px 16px 0px;
        
        .main_button-color {
            top: 16px;
        }
    }
    
    /* //About us */
    
    /* Partnership */
    
    .partnership__list {
        flex-direction: column;
        margin-top: 32px;
    }
    
    .partnership__item {
        width: 100%;
        margin-bottom: 32px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    .partnership-offers__list {
        flex-direction: column;
        margin-top: 80px;
        margin-right: 0px;
    }
    
    .partnership-offers__item {
        width: 100%;
        margin-bottom: 32px;
        margin-right: 0px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    .partnership-callback {
        margin-top: 56px;
        padding: 32px 0px;
    }
    
    .partnership-callback__wrapper {
        flex-direction: column;
    }
    
    .partnership-callback__list {
        width: 100%;
    }
    
    .partnership-callback__form {
        width: 100%;
        margin-bottom: 32px;
        order: -1;
    }
}

@media screen and (max-width: 576px) {
    
    /* Notyfication */
    
    .notyfication-subscription__item {
        width: 100%;
    }
    
    /* Calendar */
    
    .calendar__slider__list {
        height: 248px;
    }
    
    .calendar__slider__text {
        -webkit-line-clamp: 10;
        height: 248px;
    }
    
    /* /Calendar */
    
    /* Faq */
    
    .faq {
        margin-bottom: 56px;
    }
    
    .faq__list {
        margin-top: 24px;
    }
    
    .faq__question {
        margin-bottom: 8px;
    }
    
    .faq__img {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }
    
    .faq__question__text,
    .faq__answer__text {
        padding: 20px;
        width: 100%;
        font-size: 12px;
        line-height: 150%;
    }
    
    .faq__question__text {
        margin-left: 8px;
    }
    
    .faq__answer__text {
        margin-right: 8px;
    }
    
    /* //Faq */
    
    /* Ask question */
    
    .ask-qustion__container {
        max-width: 100%;
    }
    
    /* //Ask question */
    
    /* About us */
    
    .our-progress__list {
        flex-wrap: wrap;
        margin-top: 24px;
        margin-bottom: -28px;
    }
    
    .our-progress__item {
        width: 100%;
        margin-bottom: 28px;
    }
    
    /* //About us */
    
     /* Contacts */
    
    .contacts__container {
        margin-top: 16px;
        flex-direction: column;
    }
    
    .contacts__img {
        width: 100%;
        height: 160px;
        margin-right: 0px;
        margin-bottom: 32px;
    }
    
    /* Contacts */
    
    /* Clients callback */
    
    .clients-callback {
        margin-top: 56px;
    }
    
    .clients-callback__wrapper {
        .input_wrapper {
            width: 100%;
            margin: 16px 0px;
        }
    } 
    
    /* //Clients callback */
}